
// -------------------------------------------------------------------------- 1400 (adaptive markup)

@media (max-width: 1399px) {
    .container {
        width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: content-box;
    }

    // ----------------------------- navbar 1400 - done

    .navbar {
        min-height: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #D6D6D6;
        background-color: #fff;
        
        &__wrap {
            width: 1140px;
            height: 50px;
            display: flex;
            align-items: center; 
        }
    
        &__logo {
            margin-top: -4px;
            img {
                width: 81px;
                height: 24px;
            }
        }
    
        &__burger {  
            display: none;  
        }
    
        &__menu {
            display: flex;
            justify-content: space-between;
            max-width: 470px;
            margin-left: 130px;
        }
    
        &__link {
            a {
                font-family: Lato-Medium;
                font-size: 20px;
                color: #292929;
            }
        }
    
        &__signin {
            width: 60px;
            margin-left: 200px;
            a {
                font-family: Lato-Regular;
                font-size: 20px;
                color: #292929; 
            }
        }
    
        &__start {
            margin-left: 25px;
            a {
                width: 174px;
                height: 50px;
                background-color: #01996D;
                border-radius: 4px;
        
                display: flex;
                justify-content: center;
                padding-top: 14px;
        
                font-family: Lato-Regular;
                font-size: 20px;
                color: #FFFFFF;
                &:hover {
                    background-color: #087355;
                }
            }
        }
    }
    
    // ----------------------------- header 1400 - done

    .header {
        margin-top: 86px;
        min-height: 800px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;   
            top: 0;
            left: 0;
            background-image: url(../img/header-bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 1;
            z-index: -1;
        }
    
        &__wrap {
            width: 440px;
            padding-top: 150px;
        }
    
        &__title {
            width: 440px;
            height: 150px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 65px;
            line-height: 74px;
            color: #01996D;
        }
    
        &__subtitle {
            width: 430px;
            height: 90px;
            font-family: Lato-Regular;
            font-size: 20px;
            line-height: 29px;
            color: #484848;
            margin-top: 28px;
        }
    
        &__button {
            margin-top: 50px;
        }
    }
    
    .button {
        // this block unclude 2 buttons (header, about)
        a {
            width: 231px;
            height: 65px;
            background-color: #01996D;
            border-radius: 4px;
    
            display: flex;
            justify-content: center;
            padding-top: 22px;
    
            font-family: Lato-Regular;
            font-size: 20px;
            color: #FFFFFF;
            &:hover {
                background-color: #087355;
            }
        }
    }
    
    // ----------------------------- work 1400 - done

    .work {
        min-height: 1400px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &__wrap {
            width: 1140px;
        }
    
        &__block-bot {
            display: flex;
            justify-content: space-between;
        }
    
        &__block-bottom {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .block-bot {
    
        &__text-left {
        }
    
        &__suptitle {
            width: 142px;
            font-family: Lato-SemiBold;
            font-size: 24px;
            color: #424242;
        }
    
        &__title {
            width: 530px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 46px;
            line-height: 157%;
            color: #01996D;
            margin-top: 10px;
        }
    
        &__text-right {
            width: 510px;
            font-family: Lato-Medium;
            font-size: 18px;
            line-height: 150%;
            color: #424242;
            margin-top: 58px;
        }
    }
    
    .block-bottom {
        
        &__column {
            width: 350px;
            position: relative; // for .img__pic-s -AND- for title_posisiton-01/02/03
    
            &_position-01 {
                margin-top: 50px;
            }
            &_position-02 {
                margin-top: 290px;
            }
            &_position-03 {
                margin-top: 115px;
            }
        }
    
        &__number {
            position: relative;
            left: -8px;
            width: 150px;
            height: 150px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 400;
            font-size: 150px;
            color: rgba(1, 153, 109, 0.2);
        }
    
        &__title {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 30px;
            color: #000000;
            position: absolute;
            height: 36px;
            
            &_position-01 {
                width: 182px;
                top: 88px;
                left: 82px;
            }
            &_position-02 {
                width: 260px;
                top: 88px;
                left: 72px;
            }
            &_position-03 {
                width: 102px;
                top: 104px;
                left: 125px;
            }
        }
    
        &__subtitle {
            font-family: Lato-Medium;
            font-size: 18px;
            line-height: 150%;
            color: #424242;
            margin-top: 35px;
        }

        &__img {
            margin-top: 45px;
            img {
                width: 350px;
                height: 440px;
            }
        }
    }
    
    .img-1 {
        position: relative;
        &__pic-b {
        }
        &__pic-s {
            img {
                width: 163px;
                max-height: 126px;
            }
            position: absolute;
            bottom: 110px;
            right: 0px;
        }
    }



}

// -------------------------------------------------------------------------- 1200 (adaptive markup)

@media (max-width: 1199px) {
    .container {
        width: 960px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: content-box;
    }

    // ----------------------------- navbar 1200 - done

    .navbar {
        min-height: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #D6D6D6;
        background-color: #fff;
        
        &__wrap {
            width: 960px;
            height: 50px;
            display: flex;
            align-items: center; 
        }
    
        &__logo {
            margin-top: -4px;
            img {
                width: 76px;
                height: 22px;
            }
        }
    
        &__burger { 
            display: none;   
        }
    
        &__menu {
            display: flex;
            justify-content: space-between;
            max-width: 440px;
            margin-left: 90px;
        }
    
        &__link {
            a {
                font-family: Lato-Medium;
                font-size: 18px;
                color: #292929;
            }
        }
    
        &__signin {
            width: 54px;
            margin-left: 135px;
            a {
                font-family: Lato-Regular;
                font-size: 18px;
                color: #292929; 
            }
        }
    
        &__start {
            margin-left: 26px;
            a {
                width: 140px;
                height: 44px;
                background-color: #01996D;
                border-radius: 4px;
        
                display: flex;
                justify-content: center;
                padding-top: 13px;
        
                font-family: Lato-Regular;
                font-size: 18px;
                color: #FFFFFF;
                &:hover {
                    background-color: #087355;
                }
            }
        }
    }
    
    // ----------------------------- header 1200 - done

    .header {
        margin-top: 76px;
        min-height: 700px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;   
            top: 0;
            left: 0;
            background-image: url(../img/header-bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 1;
            z-index: -1;
        }

        &__wrap {
            width: 440px;
            padding-top: 120px;
        }
        
        &__title {
            width: 440px;
            height: 140px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 60px;
            line-height: 70px;
            color: #01996D;
        }
        
        &__subtitle {
            width: 380px;
            height: 80px;
            font-family: Lato-Regular;
            font-size: 18px;
            line-height: 26px;
            color: #484848;
            margin-top: 20px;
        }
        
        &__button {
            margin-top: 30px;
        }
    }
        
    .button {
        // this block unclude 2 buttons (header, about)
        a {
            width: 200px;
            height: 60px;
            background-color: #01996D;
            border-radius: 4px;
        
            display: flex;
            justify-content: center;
            padding-top: 20px;
        
            font-family: Lato-Regular;
            font-size: 20px;
            color: #FFFFFF;
            &:hover {
                background-color: #087355;
            }
        }
    }    

    // ----------------------------- work 1200 - done

    .work {
        min-height: 1150px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &__wrap {
            width: 960px;
        }
    
        &__block-bot {
            display: flex;
            justify-content: space-between;
        }
    
        &__block-bottom {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .block-bot {
    
        &__text-left {
        }
    
        &__suptitle {
            width: 142px;
            font-family: Lato-SemiBold;
            font-size: 22px;
            color: #424242;
        }
    
        &__title {
            width: 460px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 40px;
            line-height: 157%;
            color: #01996D;
            margin-top: 10px;
        }
    
        &__text-right {
            width: 416px;
            font-family: Lato-Medium;
            font-size: 16px;
            line-height: 150%;
            color: #424242;
            margin-top: 54px;
        }
    }
    
    .block-bottom {
        
        &__column {
            width: 290px;
            position: relative; // for .img__pic-s -AND- for title_posisiton-01/02/03
    
            &_position-01 {
                margin-top: 30px;
            }
            &_position-02 {
                margin-top: 252px;
            }
            &_position-03 {
                margin-top: 86px;
            }
        }
    
        &__number {
            position: relative;
            left: -7px;
            width: 150px;
            height: 150px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 400;
            font-size: 140px;
            color: rgba(1, 153, 109, 0.2);
        }
    
        &__title {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 28px;
            color: #000000;
            position: absolute;
            height: 36px;
            
            &_position-01 {
                width: 182px;
                top: 80px;
                left: 80px;
            }
            &_position-02 {
                width: 260px;
                top: 81px;
                left: 66px;
            }
            &_position-03 {
                width: 102px;
                top: 96px;
                left: 120px;
            }
        }
    
        &__subtitle {
            font-family: Lato-Medium;
            font-size: 16px;
            line-height: 150%;
            color: #424242;
            margin-top: 20px;
        }

        &__img {
            margin-top: 40px;
            img {
                width: 290px;
                max-height: 340px;
            }
        }
    }
    
    .img-1 {
        position: relative;
        &__pic-b {
        }
        &__pic-s {
            img {
                width: 136px;
                height: 98px;
            }
            position: absolute;
            bottom: 85px;
            right: 0px;
        }
    }



}

// -------------------------------------------------------------------------- 992 (adaptive markup)

@media (max-width: 991px) {
    .container {
        width: 720px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: content-box;
    }

    // ----------------------------- navbar 992 - done

    .navbar {
        min-height: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #D6D6D6;
        background-color: #fff;
        
        &__wrap {
            width: 720px;
            height: 50px;
            display: flex;
            align-items: center; 
        }
    
        &__logo {
            margin-top: -5px;
            img {
                width: 68px;
                height: 22px;
            }
        }
    
        &__burger {  
            display: none;  
        }
    
        &__menu {
            display: flex;
            justify-content: space-between;
            max-width: 350px;
            margin-left: 55px;
        }
    
        &__link {
            a {
                font-family: Lato-Medium;
                font-size: 15px;
                color: #292929;
            }
        }
    
        &__signin {
            width: 44px;
            margin-left: 75px;
            a {
                font-family: Lato-Regular;
                font-size: 15px;
                color: #292929; 
            }
        }
    
        &__start {
            margin-left: 18px;
            a {
                width: 110px;
                height: 34px;
                background-color: #01996D;
                border-radius: 4px;
        
                display: flex;
                justify-content: center;
                padding-top: 10px;
        
                font-family: Lato-Regular;
                font-size: 15px;
                color: #FFFFFF;
                &:hover {
                    background-color: #087355;
                }
            }
        }
    }
    
    // ----------------------------- header 992 - done

    .header {
        margin-top: 62px;
        min-height: 600px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;   
            top: 0;
            left: 0;
            background-image: url(../img/header-bg.jpg);
            background-position: 55% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.8;
            z-index: -1;
        }
        
        &__wrap {
            width: 440px;
            padding-top: 100px;
        }
        
        &__title {
            width: 440px;
            height: 122px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 56px;
            line-height: 60px;
            color: #01996D;
        }
        
        &__subtitle {
            width: 380px;
            height: 80px;
            font-family: Lato-Regular;
            font-size: 18px;
            line-height: 26px;
            color: #484848;
            margin-top: 16px;
        }
        
        &__button {
            margin-top: 28px;
        }
    }
        
    .button {
        // this block unclude 2 buttons (header, about)
        a {
            width: 190px;
            height: 58px;
            background-color: #01996D;
            border-radius: 4px;
        
            display: flex;
            justify-content: center;
            padding-top: 19px;
        
            font-family: Lato-Regular;
            font-size: 20px;
            color: #FFFFFF;
            &:hover {
                background-color: #087355;
            }
        }
    } 
  
    // ----------------------------- work 992 - done

    .work {
        min-height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &__wrap {
            width: 720px;
        }
    
        &__block-bot {
            display: block; // обнулил display: flex; у 1200
        }
    
        &__block-bottom {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .block-bot {
    
        &__text-left {
        }
    
        &__suptitle {
            width: 118px;
            font-family: Lato-SemiBold;
            font-size: 20px;
            color: #424242;
        }
    
        &__title {
            width: 720px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 34px;
            line-height: 54px;
            letter-spacing: -0.5px;
            color: #01996D;
            margin-top: 10px;
            position: relative;
            left: -2px;
        }
    
        &__text-right {
            width: 720px;
            font-family: Lato-Medium;
            font-size: 14px;
            line-height: 150%;
            color: #424242;
            margin-top: 20px;
        }
    }
    
    .block-bottom {
        
        &__column {
            width: 220px;
            position: relative; // for .img__pic-s -AND- for title_posisiton-01/02/03
    
            &_position-01 {
                margin-top: 20px;
            }
            &_position-02 {
                margin-top: 173px;
            }
            &_position-03 {
                margin-top: 64px;
            }
        }
    
        &__number {
            position: relative;
            left: -6px;
            width: 150px;
            height: 110px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 400;
            font-size: 110px;
            color: rgba(1, 153, 109, 0.2);
        }
    
        &__title {
            height: 24px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 20px;
            color: #000000;
            position: absolute;
            
            &_position-01 {
                width: 134px;
                top: 66px;
                left: 62px;
            }
            &_position-02 {
                width: 138px;
                top: 64px;
                left: 60px;
                line-height: 22px;
            }
            &_position-03 {
                width: 76px;
                top: 78px;
                left: 92px;
            }
        }
    
        &__subtitle {
            font-family: Lato-Medium;
            font-size: 12px;
            line-height: 150%;
            color: #424242;
            margin-top: 15px;
        }

        &__img {
            margin-top: 24px;
            img {
                width: 220px;
                max-height: 270px;;
            }
        }
    }
    
    .img-1 {
        position: relative;
        &__pic-b {
        }
        &__pic-s {
            img {
                width: 102px;
                height: 77px;
            }
            position: absolute;
            bottom: 68px;
            right: 0px;
        }
    }

    

}

// -------------------------------------------------------------------------- 768 (responsive markup)

@media (max-width: 767px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
    }

    // ----------------------------- navbar 768 - done

    .navbar {
        min-height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #D6D6D6;
        background-color: #fff;

        &__wrap {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center; 
            justify-content: space-between;
            position: relative; // для burger и signin
        }
    
        &__logo {
            margin-top: -4px;
            img {
                width: 56px;
                height: 18px;
            }
        }
    
        &__burger {  
            display: block;
            position: absolute;
            top: 15px;
            right: 5px;
            width: 30px;
            height: 20px;
            z-index: 3;

            &::before, &::after {
                content: "";
                background-color: #01996D;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition-duration: 300ms;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                position: absolute;
                background-color: #01996D;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;
                transition-duration: 200ms;
            }
        }

        &__burger {
            &.active::before {
                transform: rotate(45deg);
                top: 9px;
            }
            &.active::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            &.active span {
                transform: scale(0);
            }
        }

        &__menu {
            display: block;
            justify-content: space-between;
            max-width: initial; // убираю наследование у медиа запроса 992
            margin-left: initial; // убираю наследование у медиа запроса 992

            position: fixed;
            width: 100%;
            height: 260px; 
            top: -100%;
            left: 0;

            background-color: #01996D;
            padding: 86px 0px 0px 0px;
            text-align: center;
            transition-duration: 300ms;
            transition-timing-function: ease-out; 
        }

        &__menu.active {
            top: 0;
        }
    
        &__link {
            position: relative;
            width: 80px;
            margin: 0px auto 26px;
            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-family: Lato-Medium;
                font-size: 16px;
                color: #fff;
            }

            &:nth-child(1)::before, &:nth-child(2)::before, &:nth-child(3)::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                top: 28px;
                left: 37.5px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
    
        &__signin {
            width: 48px;
            height: 18px;
            margin-left: 0px; // обнуляю наследование у 992
            position: absolute;
            top: 16px;
            right: 180px;
            a {
                font-family: Lato-Regular;
                font-size: 16px;
                color: #292929; 
            }
        }
    
        &__start {
            margin-left: 0px; // обнуляю наследование у 992
            margin-right: 55px;
            a {
                width: 110px;
                height: 34px;
                background-color: #01996D;
                border-radius: 4px;
        
                display: flex;
                justify-content: center;
                padding-top: 9px;
        
                font-family: Lato-Regular;
                font-size: 16px;
                color: #FFFFFF;
                &:hover {
                    background-color: #087355;
                }
            }
        }
    }
    
    // ----------------------------- header 768 - done

    .header {
        margin-top: 58px;
        min-height: 510px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;   
            top: 0;
            left: 0;
            background-image: url(../img/header-bg.jpg);
            background-position: 55% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.8;
            z-index: -1;
        }

        &__wrap {
            width: 330px;
            padding-top: 90px;
        }
        
        &__title {
            width: 326px;
            height: 110px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 48px;
            line-height: 54px;
            color: #01996D;
        }
        
        &__subtitle {
            width: 340px;
            height: 72px;
            font-family: Lato-Regular;
            font-size: 16px;
            line-height: 24px;
            color: #484848;
            margin-top: 12px;
        }
        
        &__button {
            margin-top: 22px;
        }
    }
   
    .button {
        // this block unclude 2 buttons (header, about)
        a {
            width: 170px;
            height: 50px;
            background-color: #01996D;
            border-radius: 4px;
        
            display: flex;
            justify-content: center;
            padding-top: 16px;
        
            font-family: Lato-Regular;
            font-size: 18px;
            color: #FFFFFF;
            &:hover {
                background-color: #087355;
            }
        }
    } 

    // ----------------------------- work 768 - done

    .work {
        height: 930px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &__wrap {
            width: 100%;
        }
    
        &__block-bot {
            display: block; // обнулил display: flex; у 1200
        }
    
        &__block-bottom {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .block-bot {
    
        &__text-left {
        }
    
        &__suptitle {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            font-family: Lato-SemiBold;
            font-size: 20px;
            color: #424242;
        }
    
        &__title {
            width: 100%;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 34px;
            line-height: 50px;
            color: #01996D;
            margin-top: 10px;
            position: relative;
            left: -2px;
        }
    
        &__text-right {
            width: 100%;
            text-align: center;
            font-family: Lato-Medium;
            font-size: 14px;
            line-height: 150%;
            color: #424242;
            margin-top: 20px;
        }
    }
    
    .block-bottom {
        width: 100%;

        &__column {
            width: 210px;
            position: relative; // for .img__pic-s -AND- for title_posisiton-01/02/03
    
            &_position-01 {
                margin-top: 20px;
            }
            &_position-02 {
                margin-top: 173px;
                margin-left: 15px;
                margin-right: 15px;
            }
            &_position-03 {
                margin-top: 64px;
            }
        }
    
        &__number {
            position: relative;
            left: -6px;
            width: 150px;
            height: 110px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 400;
            font-size: 110px;
            color: rgba(1, 153, 109, 0.2);
        }
    
        &__title {
            height: 24px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 20px;
            color: #000000;
            position: absolute;
            
            &_position-01 {
                width: 134px;
                top: 66px;
                left: 62px;
            }
            &_position-02 {
                width: 138px;
                top: 64px;
                left: 60px;
                line-height: 22px;
            }
            &_position-03 {
                width: 76px;
                top: 78px;
                left: 92px;
            }
        }
    
        &__subtitle {
            font-family: Lato-Medium;
            font-size: 12px;
            line-height: 150%;
            color: #424242;
            margin-top: 15px;
        }

        &__img {
            margin-top: 24px;
            img {
                width: 100%;
                max-height: 240px;
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }
    
    .img-1 {
        &__pic-b {
        }
        &__pic-s {
            display: none;
        }
    }     

    

}     

// -------------------------------------------------------------------------- 576 (responsive markup)

@media (max-width: 575px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
    }

    // ----------------------------- navbar 576 - done

    .navbar {
        min-height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #D6D6D6;
        background-color: #fff;

        &__wrap {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center; 
            justify-content: space-between;
            position: relative; // для burger и signin
        }
    
        &__logo {
            margin-top: -4px;
            img {
                width: 56px;
                height: 18px;
            }
        }
    
        &__burger {  
            display: block;
            position: absolute;
            top: 15px;
            right: 5px;
            width: 30px;
            height: 20px;
            z-index: 3;

            &::before, &::after {
                content: "";
                background-color: #01996D;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition-duration: 300ms;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                position: absolute;
                background-color: #01996D;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;
                transition-duration: 200ms;
            }
        }

        &__burger {
            &.active::before {
                transform: rotate(45deg);
                top: 9px;
            }
            &.active::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            &.active span {
                transform: scale(0);
            }
        }

        &__menu {
            display: block;
            justify-content: space-between;
            max-width: initial; // убираю наследование у медиа запроса 992
            margin-left: initial; // убираю наследование у медиа запроса 992

            position: fixed;
            width: 100%;
            height: 236px; 
            top: -100%;
            left: 0;

            background-color: #01996D;
            padding: 80px 0px 0px 0px;
            text-align: center;
            transition-duration: 300ms;
            transition-timing-function: ease-out; 
        }

        &__menu.active {
            top: 0;
        }
    
        &__link {
            position: relative;
            width: 80px;
            margin: 0px auto 24px;
            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-family: Lato-Medium;
                font-size: 14px;
                color: #fff;
            }

            &:nth-child(1)::before, &:nth-child(2)::before, &:nth-child(3)::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                top: 26px;
                left: 37.5px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
    
        &__signin {
            width: 41px;
            height: 18px;
            margin-left: 0px; // обнуляю наследование у 992
            position: absolute;
            top: 16px;
            right: 180px;
            a {
                font-family: Lato-Regular;
                font-size: 14px;
                color: #292929; 
            }
        }
    
        &__start {
            margin-left: 0px; // обнуляю наследование у 992
            margin-right: 55px;
            a {
                width: 110px;
                height: 34px;
                background-color: #01996D;
                border-radius: 4px;
        
                display: flex;
                justify-content: center;
                padding-top: 10px;
        
                font-family: Lato-Regular;
                font-size: 14px;
                color: #FFFFFF;
                &:hover {
                    background-color: #087355;
                }
            }
        }
    }
    
    // ----------------------------- header 576 - done

    .header {
        margin-top: 58px;
        min-height: 460px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;   
            top: 0;
            left: 0;
            background-image: url(../img/header-bg.jpg);
            background-position: 52% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.7;
            z-index: -1;
        }

        &__wrap {
            width: 300px;
            padding-top: 80px;
        }
        
        &__title {
            width: 300px;
            height: 100px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 40px;
            line-height: 46px;
            color: #01996D;
        }
        
        &__subtitle {
            width: 300px;
            height: 64px;
            font-family: Lato-Regular;
            font-size: 14px;
            line-height: 20px;
            color: #484848;
            margin-top: 10px;
        }
        
        &__button {
            margin-top: 18px;
        }
    }
  
    .button {
        // this block unclude 2 buttons (header, about)
        a {
            width: 156px;
            height: 46px;
            background-color: #01996D;
            border-radius: 4px;
        
            display: flex;
            justify-content: center;
            padding-top: 17px;
        
            font-family: Lato-Regular;
            font-size: 14px;
            color: #FFFFFF;
            &:hover {
                background-color: #087355;
            }
        }
    } 

    // ----------------------------- work 576 - done

    .work {
        height: 2120px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &__wrap {
            width: 100%;
        }
    
        &__block-bot {
            display: block; // обнулил display: flex; у 1200
        }
    
        &__block-bottom {
            display: block; // обнулил display: flex; у 768
        }
    }
    
    .block-bot {
    
        &__text-left {
            text-align: center;
        }
    
        &__suptitle {
            width: 118px;
            margin: 0 auto;
            font-family: Lato-SemiBold;
            font-size: 20px;
            color: #424242;
        }
    
        &__title {
            width: 100%;
            margin: 0 auto;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 40px;
            color: #01996D;
            margin-top: 10px;
            left: 0px; // обнулил position:relative 
        }
    
        &__text-right {
            width: 100%;
            margin: 0 auto;
            font-family: Lato-Medium;
            font-size: 14px;
            line-height: 150%;
            color: #424242;
            margin-top: 20px;
            text-align: center;
        }
    }
    
    .block-bottom {

        &__column {
            width: 100%;
            position: relative; // for .img__pic-s -AND- for title_posisiton-01/02/03
    
            &_position-01 {
                margin-top: 20px;
            }
            &_position-02 {
                margin-top: 20px;
                margin-right: 0; // обнуляю у 768
                margin-left: 0; // обнуляю у 768
            }
            &_position-03 {
                margin-top: 20px;
            }
        }
    
        &__number {
            position: relative;
            left: -6px;
            width: 150px;
            height: 120px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 400;
            font-size: 120px;
            color: rgba(1, 153, 109, 0.2);
        }
    
        &__title {
            height: 24px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 24px;
            color: #000000;
            position: absolute;
            
            &_position-01 {
                width: 134px;
                top: 70px;
                left: 66px;
            }
            &_position-02 {
                width: 138px;
                top: 72px;
                left: 58px;
                line-height: 23px;
            }
            &_position-03 {
                width: 76px;
                top: 82px;
                left: 98px;
            }
        }
    
        &__subtitle {
            font-family: Lato-Medium;
            font-size: 14px;
            line-height: 150%;
            color: #424242;
            margin-top: 18px;
        }

        &__img {
            margin-top: 24px;
            width: 100%;
            img {
                border-radius: 8px;
                width: 100%;
                max-height: 360px;
                object-fit: cover;
            }
            &_1 {
                img {
                    object-position: 50% 75%;
                }
            }
        }
    }
    
    .img-1 {
        &__pic-b {
        }
        &__pic-s {
            display: none;
        }
    } 

    

}