@import "reset-style.scss";

@font-face {
    font-family: Lato-Regular;
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Medium;
    src: url("../fonts/Lato-Medium.ttf");
}

@font-face {
    font-family: Lato-SemiBold;
    src: url("../fonts/Lato-SemiBold.ttf");
}

html,body {
    height: 100%;
}

//-----------------------------------------------------------------------

.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

//-----------------------------------------------------------------------

.navbar {
    min-height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrap {
        max-width: 1370px;
        height: 50px;
        display: flex;
        align-items: center;
    }

    &__logo {
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        width: 558px;
        height: 24px;
        margin-left: 172px;
    }

    &__link {
        a {
            font-family: Lato-Medium;
            font-size: 20px;
            color: #292929;
        }
    }

    &__signin {
        height: 24px;
        margin-left: 283px;
        a {
            font-family: Lato-Regular;
            font-size: 20px;
            color: #292929; 
        }
    }

    &__start {
        margin-left: 35px;
        a {
            padding: 13px 50px;
            background-color: #01996D;
            border-radius: 4px;

            font-family: Lato-Regular;
            font-size: 20px;
            color: #FFFFFF;
            &:hover {
                background-color: #087355;
            }
        }
    }
}

// ------------------------------

.header {
    min-height: 895px;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid #D6D6D6;

    &__wrap {
        width: 440px;
        margin-top: 175px;
    }

    &__title {
        width: 440px;
        height: 150px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 65px;
        line-height: 74px;
        color: #01996D;
    }

    &__subtitle {
        width: 430px;
        height: 90px;
        font-family: Lato-Regular;
        font-size: 20px;
        line-height: 29px;
        color: #484848;
        margin-top: 28px;
    }

    &__button {
        margin-top: 50px;
    }
}

.button {
    // this block unclude 2 buttons (header, about)
    a {
        width: 231px;
        height: 65px;
        background-color: #01996D;
        border-radius: 4px;

        display: flex;
        justify-content: center;
        padding-top: 22px;

        font-family: Lato-Regular;
        font-size: 20px;
        color: #FFFFFF;
        &:hover {
            background-color: #087355;
        }
    }
}

// ------------------------------ 

.work {
    min-height: 1606px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrap {
        min-height: 1348px;
        width: 1370px;
    }

    &__block-bot {
        display: flex;
        justify-content: space-between;
    }

    &__block-bottom {
        display: flex;
        justify-content: space-between;
    }
}

.block-bot {
    min-height: 193px;

    &__text-left {
    }

    &__suptitle {
        width: 142px;
        font-family: Lato-SemiBold;
        font-size: 24px;
        color: #424242;
    }

    &__title {
        width: 574px;
        height: 158px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 157%;
        color: #01996D;
        margin-top: 10px;
    }

    &__text-right {
        width: 654px;
        height: 125px;
        font-family: Lato-Medium;
        font-size: 20px;
        line-height: 150%;
        color: #424242;
        margin-top: 58px;
    }
}

.block-bottom {
    
    &__column {
        width: 390px;
        position: relative; // for .img__pic-s -AND- for title_posisiton-01/02/03

        &_position-01 {
            margin-top: 80px;
        }
        &_position-02 {
            margin-top: 333px;
        }
        &_position-03 {
            margin-top: 130px;
        }
    }

    &__number {
        position: relative;
        width: 150px;
        height: 150px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 150px;
        color: rgba(1, 153, 109, 0.2);
    }

    &__title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 30px;
        color: #000000;
        position: absolute;
        height: 36px;
        
        &_position-01 {
            width: 182px;
            top: 90px;
            left: 88px;
        }
        &_position-02 {
            width: 314px;
            top: 88px;
            left: 74px;
        }
        &_position-03 {
            width: 102px;
            top: 98px;
            left: 124px;
        }
    }

    &__subtitle {
        font-family: Lato-Medium;
        font-size: 20px;
        line-height: 150%;
        color: #424242;
        margin-top: 45px;
    }

    &__img {
        width: 390px;
        margin-top: 45px;
    }
}

.img {
    &__pic-b {
    }
    &__pic-s {
        position: absolute;
        bottom: 316px;
        right: 0px;
    }
}

// ------------------------------

.about {
    height: 922px;
    background-color: #245852;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrap {
        width: 1370px;
        height: 460px;
        display: flex;
        justify-content: space-between;
    }

    &__text {
        width: 554px;
        height: 323px;
        margin-top: 64px;
    }

    &__title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 157%;
        color: #FFFFFF;
    }

    &__subtitle {
        font-family: Lato-SemiBold;
        font-size: 25px;
        color: #FFFFFF;
        margin-top: 25px;
    }

    &__button {
        margin-top: 40px;
    }

    &__img {
    }
}

// ------------------------------

.product {
    min-height: 936px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrap {
        width: 1370px;
        height: 648px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__column-one {
        width: 699px;
    }

    &__column-two {
        width: 584px;
    }

    &__suptitle {
        font-family: Lato-SemiBold;
        font-size: 25px;
        color: #424242;
        margin-top: 18px;
    }

    &__title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 157%;
        color: #01996D;
        margin-top: 15px;
    }

    &__subtitle {
        width: 530px;
        font-family: Lato-Regular;
        font-size: 20px;
        line-height: 29px;
        color: #484848;
        margin-top: 17px;
    }

    &__button {
        margin-top: 33px;
    }
}
.column-one {
    
    &__img {
        margin-left: 60px;
    }

    &__card {
        width: 296px;
        height: 294px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
}
.card {
    width: 296px;
    height: 294px;
    background: #FFFFFF;
    border-radius: 3.72971px;
    filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
    display: flex;
    flex-direction: column;
    
    &__title {
        width: 104px;
        font-family: Lato-SemiBold;
        font-size: 15px;
        color: #000000;
        margin: 34px auto 0px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 110px;
            height: 1px;
            background-color: #000000;
            bottom: -10px;
            left: -3px;
        }
    }

    &__img {
        margin: 24px auto 0px;
    }

    &__name {
        width: 42px;
        font-family: Lato-Regular;
        font-size: 12px;    
        color: #000000;
        margin: 10px auto 0px;;
    }

    &__subtitle {
        width: 180px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 15px;
        color: #000000;
        margin: 24px 0px 0px 58px;
    }

    &__list-one {
        width: 122px;
        font-family: Lato-Regular;
        font-size: 11px;
        color: #000000;
        margin: 20px 0px 0px 58px;
    }

    &__list-two {
        width: 112px;
        font-family: Lato-Regular;
        font-size: 11px;
        color: #000000;
        margin: 20px 0px 0px 58px;
    }
}

// ------------------------------

.footer {
    min-height: 605px;
    background: #245852;
    display: flex;
    align-items: center;

    &__wrap {
        width: 1370px;
        height: 390px;
    }

    &__title {
        font-family: Lato-SemiBold;
        font-size: 40px;
        color: #FFFFFF;
        letter-spacing: 1.5px;
    }

    &__subtitle {
    }

    &__link {
        margin-top: 55px;
        height: 30px;
        a {
            font-family: Lato-SemiBold;
            font-size: 25px;
            color: #FFFFFF;
        }
    }
}