@import "reset-style.scss";





body {
    width: 1920px;
    height: 5099px;
    margin: 0 auto;
}

//-----------------------------------------------------------------------



























































































